* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    gap: 50px;
}

.indexHeader {
    background: linear-gradient(to right, #00274d, #4d0000);
    color: white;
    padding: 10px 0;
    text-align: center;
    font-size: 2rem;
}

.indexHeader button {
    background-color: transparent;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.indexHeader button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.homeContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.homeContent h1 {
    font-size: 4rem;
    color: #00274d;
}

.homeContent div {
    font-size: 1.5rem;
    font-weight: bold;
    color: #4d0000;
}

.homeContent img {
    margin-top: 40px;
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
}

.menuContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.menuList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.menuContent h2 {
    font-size: 4rem;
    color: #00274d;
}

.menuItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
}

.menuItem img {
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
}

.menuItem h4 {
    font-size: 2rem;
    color: #4d0000;
}

.itemDescription {
    font-size: 1.2rem;
    color: #00274d;
}

.itemPrice {
    font-size: 1.5rem;
    font-weight: bold;
    color: #00274d;
}